:root {
  --theme-dark4: #0f111a;
  --theme-dark3: #091c29;
  // --theme-dark3: #090b10;
  --theme-dark2: #0e1624;
  --theme-dark: #091c29;

  --theme-text-dia: #000;
  --theme-text-dark: #fff;

  --text-azul-claro: #00dfd8;
  --text-azul: #007cf0;
  --text-verde_claro: #79ffe1;
  
}
